body {
    background-color: rgb(38, 51, 54);
    margin: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: rgb(3,36,43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    }
    
    li {
    float: left;
    }
    
    li a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    }
    
    li a:hover:not(.active) {
    background-color: rgb(32, 47, 49);
    color: lightgray;
    }
    
    .active {
    background-color: rgb(32, 47, 49);
    color: lightgray;
    }
    
    ::-webkit-scrollbar {
    width: 16px;
    }
    
    ::-webkit-scrollbar-track {
    background: rgb(35, 40, 41); 
    }
    
    ::-webkit-scrollbar-thumb {
    background: gray; 
    }
    
    :any-link {
        text-decoration: none;
    }

    .info {
        background-color: rgb(32, 47, 49);
        height: 300px;
        text-align: center;
        margin-top: 200px;
        color: gray;
    }

    .lang {
        padding: 150px 0px 25px 0px;
        word-spacing: 15px;
        font-size: 15;
        color: inherit;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .resources {
        margin-top: 25px;
        font-size: 15px;
        word-spacing: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
    }

    .res:hover {
        text-decoration: underline;
    }

    .logoContainer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .logoParagraph {
        vertical-align: middle;
        margin: 100px 0px 0px 0px;
        color: lightgray;
        text-shadow: 2px 2px 4px black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 100px;
        font-weight: bold;
    }
    
    .logoRegistered {
        vertical-align: top;
        color: lightgray;
        text-shadow: 2px 2px 3px black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 55px;
        font-weight: bold;
    }

    .collapsible {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(38, 51, 54);
        color: lightgray;
        text-shadow: 2px 2px 3px black;
        text-align: center;
        width: 60%;
        padding: 20px 0px 20px 0px;
        border-style: none none solid none;
        border-color: rgb(32, 47, 49);
        border-width: 3px;
        cursor: pointer;
    }

    .collapsible:hover {
        background-color: rgb(32, 47, 49);
        border-color: rgb(30, 44, 46);
    }

    .content {
        display: none;
        color: lightgray;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        text-shadow: 2px 2px 3px black;
    }

    .contact {
        color: lightgray;
        text-shadow: 2px 2px 3px black;
        font-size: 30px;
        margin: 25px 0px 25px 0px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }