.body {
    background-color: rgb(61, 69, 71);
}

.global {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.aboutContainer {
    width: 50%;
}

.logoDiv {
    flex-direction: row;
    color: black;
    font-size: 30px;
    text-align: left;
}

.logoParagraph {
    vertical-align: middle;
    color: lightgray;
    margin:0;
    text-shadow: 2px 2px 3px black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 75px;
    font-weight: bold;
}

.logoRegistered {
    vertical-align: top;
    color: lightgray;
    text-shadow: 2px 2px 3px black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.logoImage {
    text-align: left;
    padding-right: 30px;
}

.aboutDiv {
    width: 100%;
}

.aboutParagraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: lightgray;
    text-shadow: 1px 1px 2px gray;
    width: 60%;
    padding: 0px 0px 0px 140px;
}

.loginContainer {
    background-color: rgb(48, 55, 56);
    padding: 60px 120px 60px 120px;
    border: none;
    box-shadow: 0 2px 10px black;
    border-radius: 25px;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.input {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    width: 300px;
}

.info {
    background-color: rgb(48, 55, 56);
    height: 300px;
    text-align: center;
    margin-top: 200px;
    color: gray;
}

.lang {
    padding: 150px 0px 25px 0px;
    word-spacing: 15px;
    font-size: 15;
    color: inherit;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.authenticationBox {
    max-width: 500px;
    text-align: center;
}

.createAccount {
    background-color: rgb(66, 131, 66);
    border: none;
    border-radius: 15px;
    color: lightgray;
    font-weight: bold;
    padding: 15px 10px;
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    width: 300px;
    box-shadow: 0 2px 10px black;
    cursor: pointer;
}

.forgotPassword {
    font-size: 15px;
    color: rgb(152, 152, 255);
    text-align: center;
    text-decoration: none;
}

.loginButton {
    background-color: rgb(55, 55, 158);
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 10px black;
    color: lightgray;
    font-weight: bold;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-top: 25px;
    width: 300px;
    cursor: pointer;
}

    input:focus {
    outline: none;
    border: 4px solid rgb(21, 21, 194);
    }

    input {
        outline: none;
        border: 4px solid gray;
        box-shadow: 0 2px 10px black;
    }

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: rgb(35, 35, 66);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid rgb(43, 48, 49);
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    }

    li a:hover:not(.active) {
    background-color: rgb(48, 55, 56);
    color: lightgray;
    }

    .active {
    background-color: rgb(48, 55, 56);
    color: lightgray;
    }

    ::-webkit-scrollbar {
    width: 16px;
    }

    ::-webkit-scrollbar-track {
    background: rgb(35, 40, 41); 
    }

    ::-webkit-scrollbar-thumb {
    background: gray; 
    }

    :any-link {
        text-decoration: none;
    }
    .resources {
        margin-top: 25px;
        font-size: 15px;
        word-spacing: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
    }

    .res {
        color: gray;
    }

    .res:hover {
        text-decoration: underline;
    }

    .body {
        margin: 0px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .downloadContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .downloadButton {
        background-color: rgb(66, 131, 66);
        border: none;
        border-radius: 15px;
        color: lightgray;
        font-weight: bold;
        padding: 15px 10px;
        font-size: 25px;
        width: 300px;
        box-shadow: 0 2px 10px rgb(50, 50, 50);
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }

    .downloadText {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: lightgray;
        text-shadow: 1px 1px 2px gray;
        font-weight: 100;
    }